# Node
frontend/node_modules/
frontend/build/

# Python
backend/venv/
__pycache__/
*.pyc

# Environment Variables
.env
backend/.env
frontend/.env

# Uploaded Files
backend/uploads/*

# macOS
.DS_Store

# Logs
*.log